{% extends 'product\base.html' %}
{% block title %}Products{% endblock %}

{% block content %}
<h2>Product List</h2>
<a href="{% url 'add_product' %}" class="btn btn-primary mb-3">Add Product</a>

<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p><strong>Price:</strong> ₹{{ product.price }}</p>
                <p><strong>Category:</strong> {{ product.category.name }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No products available.</p>
    {% endfor %}
</div>
{% endblock %}